<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entretenimento</title>
</head>
<body style="background-color: rgb(232, 247, 190);">
    <!--Cabeçalho do meu site-->
    <header style="display: flex;">
        <!--Section foto de perfil-->
        <section>
            <img src="perfil.alice.jfif" alt="foto de perfil, gnomo vomitando um arco-íris" height="100px" width="100px">
        </section>
        <!-- Section Informações Pessoais-->
        <section>
            <br><br>
            &nbsp;&nbsp;&nbsp;           
         AliceFreitas| 17 anos| @malice_freitas <br>
         &nbsp;&nbsp;&nbsp;mariaalicefreitascardim@gamil.com
        </section>

    </header>
    <!--navegção da minha pagina-->
    <nav>
        <!-- "<a> refere-se ao de link"-->
       <hr>
       <a href="mysite.html">About me</a> |
       <a href="entretenimento.html">Entretenimento</a> |
       <a href="musica.html">Musica</a> |
       <a href="contato.html">Contato</a> |
       <hr>
    </nav>

    <!--seção de entretenimento-->
    <article>
        <h3>Harry Potter</h3>
        <h5>Curto 5\5</h5>
        <p>
            <img src="poster HP.jpeg" alt="poster do Harry Potter" height="200px" width="180px">
        </p>
        <p>
            <strong>Harry Potter é uma saga de filmes sobre um <br>
                 menino bruxo e seus amigos tentando derrotar <br>
                 o mal e vivendo várias aventuras.</strong>
        </p>
        <p>Para conhecer mais <a href="">Clique aqui</a></p>
    </article>
    <hr>

    <article>
        <h3>Constantine</h3>
        <h5>Curto 5\5</h5>
        <p>
            <img src="jonh.jpeg" alt="poster do Constantine" height="200px" width="180px">
        </p>
        <p>
            <strong>Jonh Constatine é uma série de hqs sobre um <br>
                feiticeiro\demonoligista que roda um mundo tentando <br>
                se dar bem entre o mundo dos humanos e o inferno. <br>
            </strong>
        </p>
        <p>Para conhecer mais <a href="">Clique aqui</a></p>
    </article>

    <hr>
    <article>
        <h3>Brooklyn nine nine</h3>
        <h5>Curto 5\5</h5>
        <p>
            <img src="b99.jpeg" alt="poster de B99" height="200px" width="180px">
        </p>
        <p>
            <strong>Fala sobre o cotidiano de uma delegacia <br>
                 no distrito do Brooklyn no ponto de vista <br>
                 do detetive Jack Peralta.</strong>
        </p>
        <p>Para conhecer mais <a href="">Clique aqui</a></p>
    </article>
    <hr>

    <article>
        <h3>As Aventuras de Tintim</h3>
        <h5>Curto 5\5</h5>
        <p>
            <img src="tintin.jpeg" alt="poster de tintin" height="200px" width="180px">
        </p>
        <p>
            <strong>Fala sobre o cotidiano de um jovem <br>
                reporte, que junto com seus amigos partem para <br>
                aventuras onde altos ricos acontecem.</strong>
        </p>
        <p>Para conhecer mais <a href="">Clique aqui</a></p>
    </article>
    <hr>

    <article>
        <h3>Vermelho branco sangue azul</h3>
        <h5>Curto 5\5</h5>
        <p>
            <img src="VBSA.jpeg" alt="poster de VBSA" height="250px" width="180px">
        </p>
        <p>
            <strong>Vermelho branco sangue azul, é um livro <br> 
                de romance bl que fala sobre a história de amor <br>
                 entre um príncipe da Inglaterra ( henry ) <br>
                  e o primeiro filho dos Estados Unidos ( Alex ).</strong>
        </p>
        <p>Para conhecer mais <a href="">Clique aqui</a></p>
    </article>

    <hr>
    <article>
        <h3>Good Omens</h3>
        <h5>Curto 5\5</h5>
        <p>
            <img src="goodoomens.jpeg" alt="poster de GO" height="250px" width="180px">
        </p>
        <p>
            <strong>É uma série baseada de um livro do Neil Gaiman, <br> 
                 onde um anjo e um demônio são amigos a 6.000 anos<br>
                 e juntos se reúne ao anti-cristo para deter uma guerra <br>
                entre o ceú e o inferno (apocalipse).</strong>
        </p>
        <p>Para conhecer mais <a href="">Clique aqui</a></p>
    </article>
    <hr>
    <!--Rodapé-->
    <footer>
        By Alice Freitas &copy;
    </footer>
</body>

</html>