<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 10 BregaFuck</title>
</head>
<body style="background-color: rgb(190, 247, 233);">
     <!--Cabeçalho do meu site-->
     <header style="display: flex;">
        <!--Section foto de perfil-->
        <section>
            <img src="perfil.alice.jfif" alt="foto de perfil, gnomo vomitando um arco-íris" height="100px" width="100px">
        </section>
        <!-- Section Informações Pessoais-->
        <section>
            <br><br>
            &nbsp;&nbsp;&nbsp;           
         AliceFreitas| 17 anos| @malice_freitas <br>
         &nbsp;&nbsp;&nbsp;mariaalicefreitascardim@gamil.com
        </section>

    </header>
    <!--navegção da minha pagina-->
    <nav>
        <!-- "<a> refere-se ao de link"-->
       <hr>
       <a href="mysite.html">About me</a> |
       <a href="entretenimento.html">Entretenimento</a> |
       <a href="musica.html">Musica</a> |
       <a href="contato.html">Contato</a> |
       <hr>
    </nav>

    <!--Aqui começa minha lista-->
    <main>
        <ol>
            <li>
                Melanie Martines:
                <ul>
                    <li>Cake;</li>
                    <li>Pity Party;</li>
                    <li>EVIL;</li>
                    <li>Sippy Cup</li>
                </ul> 
            </li>
            <li>Adele: 
                <ul>
                    <li>Scyfall;</li>
                    <li>Easy On Me;</li>
                    <li>Oh My God</li>
                </ul>
            </li>
            <li>Rhianna 
                <ul>
                    <li>Diamonds;</li>
                    <li>Umbrella</li>
                </ul>
            </li>
            <li>Beyoncé - Halo;</li>
            <li>Tarlor Swift - Don't Blame Me;</li>
            <li>AURORA - Runaway;</li>
            <li>Lana Del Rey - Summertime Sadness;</li>
            <li>Layd Gaga - Bloody Mary;</li>
            <li>Marooin 5 - Maps;</li>
            <li>Imagines Dragons - Sharks;</li>
            <li>Sia:
                <ul>
                    <li>Alive;</li>
                    <li>Snowman</li>
                </ul>
            </li>
        </ol>
    </main>
    <hr>
    <!--Rodapé-->
    <footer>
        By Alice Freitas &copy;
    </footer>
</body>
</html>