<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Space</title>
</head>
<body style="background-color: rgb(219, 190, 247);">
<!--Cabeçalho do meu site-->
    <header style="display: flex;">
<!--Section foto de perfil-->
        <section>
            <img src="perfil.alice.jfif" alt="foto de perfil, gnomo vomitando um arco-íris" height="100px" width="100px">
        </section>
<!-- Section Informações Pessoais-->
        <section>
            <br><br>
            &nbsp;&nbsp;&nbsp;           
         AliceFreitas| 17 anos| @malice_freitas <br>
         &nbsp;&nbsp;&nbsp;mariaalicefreitascardim@gamil.com
        </section>

    </header>
<!--navegção da minha pagina-->
    <nav>
<!-- "<a> refere-se ao de link"-->
       <hr>
       <a href="mysite.html">About me</a> |
       <a href="entretenimento.html">Entretenimento</a> |
       <a href="musica.html">Musica</a> |
       <a href="contato.html">Contato</a>
       <hr>
    </nav>
<!--Estrutura Principal de meu site-->
    <main>
        <h1>Conheça um pouco do meu mundo</h1>
        <p>
            &nbsp;&nbsp;Meu nome é Alice Freitas, tenho 17 anos. moro em jaboatão junto com minha mãe, <br>
            Magda, e minhas gatas. Meu pai se chama Andre e mora junto com minha matrasta Lidi <br>

            e meu irmão João.<br>
        </p>
        <ul>
            <li>
                Tenho duas gatas:
                 <ul>
                    <li>Valentina;</li>
                    <li>Gata</li>           
                 </ul>
            </li>
            <li>Gosto de cozinhar</li>
            <li>Gosto de desenhar</li>
            <li>Gosto de assitir filmes e séries</li>
        </ul>
    </main>

<!--Rodapé-->
    <footer>
        <hr>
        By Alice Freitas &copy;
    </footer>
</body>
</html>